# VITE_API_BASE_URL='https://www.arunachalasamudra.co.in/api'
VITE_API_BASE_URL='http://localhost:8000/api'


VITE_SUPABASE_URL=https://jmmqzddkwsmwdczwtrwq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImptbXF6ZGRrd3Ntd2Rjend0cndxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3NDQ3NTAsImV4cCI6MjA4NTMyMDc1MH0.NRqYCh6j1VmIPckh3S2Tcs5f9xNo9n5Nr1khohlVTU8
